* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DARK MOD CSS BAŞLANGIÇ */
body.dark {
  background-color: #222;
  color: #fff;
}

.mode-control input {
  position: absolute;
  opacity: 0;
}

.mode-control span:nth-of-type(2) {
  display: none;
}

.mode-control input:checked+span {
  display: none;

}

.mode-control input:checked+span+span {
  display: inline-block;
}

.mode-control span {
  padding: 0 20px;
  line-height: 30px;
  border-radius: 30px;
  background-color: #222;
  color: #fff;
}

/* DARK MOD CSS BİTİŞ */

/*-- BAŞLANGIÇ BODY ---------boostrap etkilendiği için id eklendim hocam----------*/

.my-custom-body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #BDC3BF;
  transition: 300ms all;
}

.navbarh1 {
  display: inline-block;
  font-weight: 300;
}

.links {
  display: inline-block;
}

.links li {
  display: inline-block;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 8px;
}

header {
  margin: 32px;
}

header h1 {
  font-weight: 600;
  backdrop-filter: initial;
}

header span {
  color: black;
}

.bannerDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background: linear-gradient(60deg, #dcdcdc 50%, #BB5D4A 50%);
  opacity: 0.90;
  border-radius: 25px;

}

.bannericerik .name {
  font-size: 50px;
  margin-bottom: 20px;
}

#myTitle {
  font-size: 39px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  color: #856B5E;
  font-weight: 700;
}

.bannericerik .teslimat {
  font-size: 30px;
  margin-bottom: 20px;

}

.bannericerik .kcalisan {
  font-size: 30px;
}

.bannericerik span {
  color: #4d5684;
}

/* HTML ETKİN DEĞİL */
.underline {
  width: 80px;
  height: 4px;

  margin-bottom: 20px;
  padding: 5px 5px;
}

.bannerImg {
  width: 30%;
  height: 40%;
  border: 4px solid white;
  border-radius: 30px;

}
/* RESBONSIV DENEMESİ BURDAN BASLIYOR BAK */
.bannerPhoto {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse; /* Yazılar resmin altında olacak */
}

.btndarkblue {
  text-decoration: none;
  background: #4d5684;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  font-weight: 700;
  border-radius: 30px;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.btndarkblue:hover {
  background: gray;
}

.btnkahve {
  text-decoration: none;
  background: #BB5D4A;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  font-weight: 700;
  border-radius: 30px;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.btnkahve:hover {
  background: #F48E37;
  /* BUTONLAR CSS BİTİŞ */
}

.btn.btn-dark{
  background-color:   #BB5D4A;        
  border: 1px solid #BB5D4A;
  
}
.btn.btn-dark:hover{
background-color: #D86A66;
border-color: #D86A66;

}

  /* İADE EKRANI 2 TABLO BASLANGIÇ KODLARI */

  .table thead th {
    color: #fff; /* Yazı rengi */
    background-color: #D86A66; /* Arka plan rengi */
    border-radius: 2px;
}

